<ul ng-controller="PlayerController">
	<li ng-repeat="player in players | orderBy:'-Score'" >
		<div class="player-container">
			<div class="player">
			  	<h1>{{player.Name}}: <strong>{{player.Score}}</strong></h1>
			  	<img src="{{player.ImgURL}}" class="photo">
			</div>
			<div>
				<strong>Votes</strong>:
			  	<ul>
				  	<li ng-repeat="vote in player.VoteList">
				  		<span ng-class="{ 'good-vote-label': !vote.Alive }">{{vote.Name}}</span>
				  	</li>
				</ul>
			</div>
		</div>
	</li>
</ul>