<div ng-controller="PlayerController">
	<h1>Players</h1>
	<div ng-show="refreshing">
		<img src="../../../assets/img/ajax-loader.gif" />
	</div>
	<ul ng-show="!refreshing">
		<li ng-repeat="player in players | orderBy:'-Score'" class="player-wrapper">
			<div class="player-list-item clearfix">
				<div class="player clearfix">
				  	<h1>{{player.Name}}: {{player.Score}}</h1>
				  	<img src="{{player.ImgURL}}" class="photo">
				</div><!-- player -->
				<div class="player-votes clearfix">
					<!-- <strong>Votes</strong>: -->
				  	<ul class="clearfix">
					  	<li class="vote-item" ng-repeat="vote in player.VoteList">
					  		<span ng-class="{ 'good-vote-label': !vote.Alive }">{{vote.Name}}</span>
					  	</li><!-- vote item -->
					</ul>
				</div><!-- player votes -->
			</div><!-- players list item -->
		</li><!-- each player -->
	</ul><!-- players list -->
</div><!-- controller -->
