.wrapper {
	overflow: auto;
}
.photo {
    max-width: 100%;
    max-height: auto;
    position: relative;
    z-index: 0;
}
.character-wrapper {
    list-style: none;
    float: left;
    overflow: auto;
    box-sizing: border-box;
    border: solid 5px;
    border-image:url("/assets/img/targaryen-border.png") 30 30 repeat;
    -webkit-border-image:url("/assets/img/targaryen-border.png") 30 30 repeat; 
    margin: 5px;
    height: 150px;
    width: 120px;
    overflow: hidden;
    position: relative;
    background-size: 100%;

}
.player-list-item {
    list-style: none;
    clear: both;
}
.player {
    float: left;
    overflow: auto;
    box-sizing: border-box;
    border: solid 5px;
    border-image:url("/assets/img/targaryen-border.png") 30 30 repeat;
    -webkit-border-image:url("/assets/img/targaryen-border.png") 30 30 repeat; 
    margin: 5px;
    height: 120px;
    width: 120px;
    overflow: hidden;
    position: relative;
    background-size: 100%;
}
.character-alive {

}
.character-dead {
    filter: blur(2px) grayscale(90%);
    -webkit-filter: blur(2px) grayscale(90%);
}
.dead-label {
    color: #cc0000;
    font-weight: bold;
}
.good-vote-label {
    color: #cc0000;
    font-weight: bold;
    text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #cc0000;
}

.character h1 {
    display: inline-block;
    float: left;
    font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
    font-size: 11px;
    color: #333333;
    position: absolute;
    bottom: 0;
    z-index: 1;
    background-color: rgba(225,225,225,.7);
    padding: .5em .2em;
}

.player h1 {
    display: inline-block;
    float: left;
    font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
    font-size: 18px;
    color: #333333;
    position: absolute;
    bottom: 0;
    z-index: 1;
    background-color: rgba(225,225,225,.7);
}