body {
    background-image: url(/assets/img/westeros.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    overflow: auto;
}

.wrapper.characters {
    float: left;
    width: 65%;
}

.wrapper.players {
    float: left;
    width: 35%;
}

.logo {
    width: 100%;
}

h1 {
    color: #EAEAEA;
}

ul {
    padding: 0;
}

.clearfix {
    overflow: auto;
}

.sigil {
    width: 25px;
    float: left;
    position: absolute;
    z-index: 9;
    padding: 3px;
}

.photo {
    max-width: 100%;
    max-height: auto;
    position: relative;
    z-index: 0;
}

.character-wrapper {
    list-style: none;
    float: left;
    overflow: auto;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px black;
    margin: 5px;
    height: 120px;
    width: 120px;
    overflow: hidden;
    position: relative;
    background-size: 100%;
}

.player-list-item {
    list-style: none;
    clear: both;
    display: table-row;
}

.player {
    float: left;
    overflow: auto;
    display: table-cell;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px black;
    margin: 5px;
    height: 120px;
    width: 120px;
    overflow: hidden;
    position: relative;
    background-size: 100%;
}

.player-votes {
    color: #EAEAEA;
    display: table-cell;
    vertical-align: middle;
}

.player-votes ul {
    list-style: none;
    display: inline;
    width: 10px;
}

.vote-item {
    display: inline;
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 0 1em;
}

.character-alive {}

.character-dead {
    -webkit-filter: blur(2px) grayscale(90%);
    -moz-filter: blur(2px) grayscale(90%);
    -ms-filter: blur(2px) grayscale(90%);
    -o-filter: blur(2px) grayscale(90%);
    filter: blur(2px) grayscale(90%);
}

.dead-label {
    color: #610900;
    font-weight: bold;
}

.good-vote-label {
    color: #610900;
    font-weight: bold;
    text-decoration: line-through;
    text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #610900;
}

.character h1 {
    display: inline-block;
    float: left;
    font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
    font-size: 11px;
    color: #333333;
    position: absolute;
    bottom: 0;
    z-index: 1;
    background-color: rgba(225, 225, 225, .7);
    padding: .5em .2em;
}

.player h1 {
    display: inline-block;
    float: left;
    font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
    font-size: 18px;
    color: #333333;
    position: absolute;
    bottom: 0;
    z-index: 1;
    background-color: rgba(225, 225, 225, .7);
    padding: 5px;
}

.loading {
    text-align: left;
}


/*MEDIA QUERIES*/

@media (max-width: 700px) {
    body {
        background-size: inherit;
        background-repeat: repeat;
    }
    .wrapper.characters {
        float: none;
        width: 100%;
    }
    .wrapper.players {
        float: none;
        width: 100%;
    }
    .vote-item {
        width: 100%;
    }
    .character-wrapper {
        /* display: block;
        clear: both;*/
    }
    .player-wrapper {
        margin-bottom: 2em;
    }
    ul {
        width: 80%;
        margin: 0 auto;
        list-style: none;
    }
}